@import '../../files/vendor/twitter-bootstrap/css/bootstrap.min.css'

a, a:link, a:hover, a:visited
	cursor pointer
	color black
	text-decoration underline


blockquote p

	font-weight: normal
	margin-bottom: 10px
	font-size: 13px!important
	line-height: 18px!important



table
	tfoot, tbody
		th
			border-top 1px solid #DDD

div.navbar-inner
	border-radius: 0px!important
	-webkit-box-shadow: none
	-webkit-border-radius: 0px!important

.navbar
	margin-bottom:0px!important

.navbar .container
	width: 940px

.navbar-inner, .navbar, navbar li
	background-color: transparent
	background-image: none

div.box a
	text-decoration: none

div.box a:hover
	text-decoration: underline!important

div.blurps div h3 a
	text-decoration: none

div.blurps div h3 a:hover
		text-decoration: underline!important

.navbar .nav a {
	background-color: none
}

.navbar
	background-color: #111

div.mycontent img

	margin-top: 15px

div.mycontent iframe
	margin-top: 15px
	margin-bottom: 15px

p,body,pre
	font-family: 'Droid Sans Mono', sans-serif

	h1, h2, h3, h4, h5, h6
		font-weight: 200

h1, h2,h3
	margin-bottom: 2px
	font-family: 'Droid Serif', serif
	font-weight: normal
	color:  #333333

h1
	font-size: 20!important
	color:  #333333
h1 a
	text-decoration: none!important;

h4, h5
	font-family: 'Droid Serif', serif
	color:  #333333

h4
	margin-bottom: 8px
h2
	line-height: 30px
	margin-bottom: 5px

img.grayscale
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")
	filter: gray
	-webkit-filter: grayscale(100%)

img.grayscale:hover
	filter: none
	-webkit-filter: grayscale(0%)

#footer
	color:white!important

#footer a, #footer a:visited, #footer a:active, #footer a:hover
	color:white
